@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: Lato, sans-serif;
  font-weight: 600;
  color: var(--light-text-color);
  margin: 0;
  background-image: url(https://s3-alpha-sig.figma.com/img/397a/10c5/57dc983b88e6ebf2b06aca7809b0e87d?Expires=1678060800&Signature=W5GUXaCdvO8kI9zKrDslrOraPlz5BkIAq7hHQ~ovkFe9GUD75gouXUGamTgGTVwcUNn4jRwuyZYolK7vumvQ0cCsB-g4k7ykgUs8DyuKnqSUPidUxK3gR-q52brSpjsgEkHvSYAjceh2aLSaixIxzvznbFghQh60RPhgzNaqvyTGvZ5Kfxypwn8Ort8oTpDoFd2-GCG2WlkXq1MStw1uTdgrXE4yUVWQiHxdcpHwgvrU~RdBw5FCQB2-qRgPWkCoj2xjZUOGXAvP9JPQKczmb6HAL-vMoo3uBg1k0y2GfWf9R0KXLMF2Ag4EaXnIPaqHKTWikhl~xpYwcgKo8e~Uwg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 100%;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.no-scroll {
  overflow: hidden;
}
