@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --primary-text-color: #000;
  --brend-color: #fd5103;
  --light-text-color: #fff;
  --dark-text-color: #202025;
  --light-bg-color: #fcfcfc;
  --dark-bg-color: #202025;
  --btn-color: #fe7031;
  --btn-hover: #fcfcfc;
}

.container {
  margin: 0 auto;
  max-width: 480px;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding-left: 0;
    padding-right: 0;
    max-width: 1280px;
  }
}

.container-gradient {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)) 0% 0%/cover;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

.section {
  padding-top: 32px;
  padding-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .section {
    padding-top: 80px;
    padding-bottom: 0px;
  }
}

body {
  font-family: Lato, sans-serif;
  font-weight: 600;
  color: var(--light-text-color);
  margin: 0;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 100%;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

p {
  width: 100%;
}

img {
  display: block;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

button {
  cursor: pointer;
  font-family: inherit;
}

.weather-form {
  margin: 0 auto;
  margin-bottom: 40px;
  max-width: 280px;
}
@media screen and (min-width: 768px) {
  .weather-form {
    padding: 13px 0;
    max-width: 704px;
  }
}
@media screen and (min-width: 1280px) {
  .weather-form {
    max-width: 822px;
  }
}

.search-form {
  background-color: white;
  padding: 15px 20px;
  position: relative;
  align-items: center;
  border-radius: 30px;
  margin-bottom: 16px;
}
.search-form .search-input {
  border: none;
  padding: 0;
  padding-left: 34px;
  color: black;
  font-size: 14px;
  font-weight: 400;
  width: 75%;
  outline: none;
}
.search-form .search-input::placeholder {
  color: black;
  font-size: 14px;
}

.geo__city-btn {
  fill: #000000;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  opacity: 0.471;
  border: none;
  width: 20px;
  height: 20px;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  transition: fill 200ms linear;
  background: url(../images/location.png) no-repeat center;
}

.favorit__city {
  display: flex;
}

.favorit__city-btn {
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 5px 12px;
  background-color: rgba(16, 33, 54, 0.5);
  border: transparent;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  font-family: Lato;
  font-weight: 400;
}
.favorit__city-btn:hover, .favorit__city-btn:focus {
  background-color: #fff;
  color: #000;
}
.favorit__city-btn:not(:last-child) {
  margin-right: 10px;
}
.favorit__city-btn:first-child {
  margin-left: 32px;
}
@media screen and (min-width: 768px) {
  .favorit__city-btn {
    font-size: 14px;
    line-height: 17px;
  }
}

.delete-city {
  width: 10px;
  height: 10px;
  margin-left: 10px;
  opacity: 100%;
}

@media screen and (min-width: 1280px) {
  .section__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.section_quote {
  max-width: 395px;
}

.favorite-btn {
  fill: #000000;
  position: absolute;
  top: 50%;
  right: 22px;
  transform: translateY(-50%);
  opacity: 0.471;
  border: none;
  width: 20px;
  height: 20px;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  transition: fill 200ms linear;
  background: url(../images/Star.png) no-repeat center;
}

.nav__buttons-list {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .nav__buttons-list {
    max-width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .nav__buttons-list {
    max-width: 395px;
  }
}

.nav__button {
  padding: 5px 39px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border: transparent;
  color: #000;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}
.nav__button:hover, .nav__button:focus {
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .nav__button {
    padding: 5px 52px;
  }
}
@media screen and (min-width: 1280px) {
  .nav__button {
    padding: 5px 67px;
  }
}

.hero__section-weather {
  margin-bottom: 32px;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .hero__section-weather {
    max-width: 680px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__section-weather {
    max-width: 411px;
    margin: 0;
    margin-bottom: 85px;
    margin: 92px 0px 20px auto;
  }
}

.weather-contetn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 57px;
  background-color: #27384a;
  border-radius: 34px;
  margin-bottom: 32px;
}
@media screen and (min-width: 1280px) {
  .weather-contetn {
    border-radius: 32px 0 0 32px;
  }
}

.weather-img {
  margin-bottom: 4px;
}

.tempreture {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deg-now {
  color: #fff;
  font-size: 45px;
  line-height: 54px;
  font-weight: 300;
}

.location {
  margin-left: auto;
  margin-right: auto;
  color: #767d85;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 16px;
}

.list-temp {
  color: #767d85;
}

.weather__list-min {
  padding-right: 8px;
  border-right: #767d85 1px solid;
  margin-right: 8px;
}

.list-deg {
  color: #fff;
}

.weather__list-minormax {
  display: flex;
}

.btn-home {
  margin-left: auto;
  margin-right: auto;
}

.section__bottom-left {
  margin-left: auto;
  margin-right: auto;
  max-width: 276px;
  border-radius: 34px;
  background-color: rgba(16, 33, 54, 0.8);
  padding: 32px 61px;
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .section__bottom-left {
    max-width: 704px;
    padding: 32px 207px;
  }
}
@media screen and (min-width: 1280px) {
  .section__bottom-left {
    display: flex;
    padding: 50px 103px 80px 16px;
    border-radius: 0 34px 0 0;
    margin: 0;
  }
}

.date__now-day {
  font-size: 45px;
  line-height: 54px;
  font-weight: 300;
  letter-spacing: 4%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
}
@media screen and (min-width: 768px) {
  .date__now-day {
    font-size: 90px;
    line-height: 108px;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .date__now-day {
    max-width: 480px;
  }
}

.day-ending {
  font-size: 75%;
  top: -0.5em;
  position: relative;
}

.month-time {
  display: flex;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 4%;
  justify-content: space-around;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .month-time {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .month-time {
    margin-right: 136px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .all-time {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .month-now {
    font-size: 18px;
    line-height: 22px;
  }
}

.sun-time {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .sun-time {
    font-size: 18px;
    line-height: 22px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
  }
}

.sunrise_time {
  display: flex;
  margin-right: 8px;
}
@media screen and (min-width: 1280px) {
  .sunrise_time {
    margin-right: 29px;
  }
}

.sunset_time {
  display: flex;
}

.sun_time-img {
  margin-right: 8px;
}

.section_quote {
  margin-left: auto;
  margin-right: auto;
  max-width: 240px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .section_quote {
    margin-right: 0;
    max-width: 340px;
  }
}

.quote {
  text-align: end;
  font-style: italic;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .quote {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .quote {
    margin-bottom: 32px;
  }
}

.quote_author {
  font-size: 18px;
  line-height: 22px;
  text-align: end;
}

@media screen and (min-width: 1280px) {
  .fiveDays__country-name {
    display: flex;
  }
}

.fiveDays-btn {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  max-width: 280px;
}
@media screen and (min-width: 768px) {
  .fiveDays-btn {
    max-width: 336px;
    margin-bottom: 96px;
  }
}
@media screen and (min-width: 1280px) {
  .fiveDays-btn {
    max-width: 395px;
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 38px;
  }
}

.fiveDays__weather {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 34px;
  background-color: rgba(16, 33, 54, 0.8);
  padding: 32px 0 48px;
}
@media screen and (min-width: 768px) {
  .fiveDays__weather {
    max-width: 704px;
    padding: 40px 0;
  }
}
@media screen and (min-width: 1280px) {
  .fiveDays__weather {
    max-width: 1248px;
    padding: 40px 0;
  }
}

.fiveDays__weather-list {
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  display: flex;
  position: relative;
  left: 0;
  transition: all ease 1s;
}
@media screen and (min-width: 768px) {
  .fiveDays__weather-list {
    width: 704px;
  }
}
@media screen and (min-width: 1280px) {
  .fiveDays__weather-list {
    max-width: 1248px;
    padding: 0 107px;
  }
}

.slider_line {
  margin: 0 auto;
  padding: 0;
  display: flex;
  max-width: 280px;
  overflow: hidden;
  border: 1px solid blue;
}
@media screen and (min-width: 768px) {
  .slider_line {
    max-width: 598px;
    padding: 0;
  }
}
@media screen and (min-width: 1280px) {
  .slider_line {
    max-width: 1248px;
    padding: 0;
  }
}

.fiveDays__weather-item {
  max-width: 62px;
  margin-right: 16px;
  border: 1px solid tomato;
}
@media screen and (min-width: 768px) {
  .fiveDays__weather-item {
    min-width: 62px;
  }
}
@media screen and (min-width: 1280px) {
  .fiveDays__weather-item {
    min-width: 181px;
    padding: 0 5px;
  }
}

.fiveDays__country-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
@media screen and (min-width: 768px) {
  .fiveDays__country-title {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 67px;
    margin-top: -100px;
  }
}
@media screen and (min-width: 1280px) {
  .fiveDays__country-title {
    margin-top: -110px;
    margin-bottom: 77px;
  }
}

@media screen and (max-width: 767px) {
  .tablet {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
}

@media screen and (min-width: 1280px) {
  .center-section {
    display: flex;
  }
}

.fiveDays__weather-name-day {
  color: rgb(118, 125, 133);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .fiveDays__weather-name-day {
    font-size: 14px;
    line-height: 17px;
  }
}
@media screen and (min-width: 1280px) {
  .fiveDays__weather-name-day {
    font-size: 18px;
    line-height: 22px;
  }
}

.fiveDays__weather-date {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 4px;
}
@media screen and (min-width: 768px) {
  .fiveDays__weather-date {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .fiveDays__weather-date {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 20px;
  }
}

.fiveDays__weather-img {
  margin-bottom: 4px;
  margin-left: auto;
  margin-right: auto;
  width: 35px;
  height: 35px;
}
@media screen and (min-width: 1280px) {
  .fiveDays__weather-img {
    margin-bottom: 30px;
  }
}

.fiveDays__weather__list-minormax {
  display: flex;
  color: rgb(118, 125, 133);
  font-size: 12px;
  line-height: 14px;
}
@media screen and (min-width: 768px) {
  .fiveDays__weather__list-minormax {
    font-size: 14px;
    line-height: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .fiveDays__weather__list-minormax {
    font-size: 18px;
    line-height: 22px;
  }
}

.fiveDays__weather__list-min {
  margin-right: 10px;
}
@media screen and (min-width: 1280px) {
  .fiveDays__weather__list-min {
    margin-right: 32px;
  }
}

.fiveDays__list-deg {
  color: rgb(255, 107, 9);
  font-size: 14px;
  line-height: 17px;
}
@media screen and (min-width: 768px) {
  .fiveDays__list-deg {
    font-size: 18px;
    line-height: 22px;
  }
}
@media screen and (min-width: 1280px) {
  .fiveDays__list-deg {
    font-size: 25px;
    line-height: 30px;
  }
}

.more-info {
  color: rgb(118, 125, 133);
  background-color: transparent;
  border: transparent;
  text-decoration: underline;
  font-size: 12px;
  line-height: 14px;
}
.more-info:hover, .more-info:focus {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .more-info {
    font-size: 14px;
    line-height: 16px;
  }
}

.fiveDays__more-list {
  display: flex;
  padding: 48px 5px 0;
}
@media screen and (min-width: 768px) {
  .fiveDays__more-list {
    padding: 40px 22px 0;
  }
}
@media screen and (min-width: 1280px) {
  .fiveDays__more-list {
    padding: 33px 45px 0;
  }
}

.fiveDays__more-item {
  max-width: 120px;
  padding: 20px 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 25px;
}
.fiveDays__more-item:hover, .fiveDays__more-item:focus {
  background-color: rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 1280px) {
  .fiveDays__more-item {
    padding: 20px 32px;
    max-width: 152px;
  }
}

.more_time {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  opacity: 0.54;
}

.more-img {
  width: 35px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
}

.more-tempreture {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ff6b09;
  text-align: center;
}
@media screen and (min-width: 1280px) {
  .more-tempreture {
    font-size: 25px;
    line-height: 30px;
  }
}

.more-speed {
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  opacity: 0.54;
}

.speed-img {
  margin-right: 10;
  width: 20px;
  height: 20px;
}

.more-humidity {
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  opacity: 0.54;
}

.humidity-img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.more-wind {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  opacity: 0.54;
}

.wind-img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}/*# sourceMappingURL=main.css.map */