:root {
  --primary-text-color: #000;
  --brend-color: #fd5103;
  --light-text-color: #fcfcfc;
  --dark-text-color: #202025;
  --light-bg-color: #fcfcfc;
  --dark-bg-color: #202025;
  --btn-color: #fe7031;
  --btn-hover: #fcfcfc;
}
