<section class="hero section">
  <div class="hero__section container">

    <div class="hero__section-weather">
      <div class="weather-contetn">
        <div class="location">
          <img src="./images/loudy.png" alt="" class="weather-img">
          <p class="weather__list-city">Kyiv, Ua</p>
</div>
<div class="tempreture">
<p class="deg-now">-3</p>
  <ul class="weather__list-minormax">
    <li class="weather__list-min">
      <p class="list-temp">min</p>
      <p class="list-deg">
 -2 &#176
      </p>
      </li>
    <li class="weather__list-max">
      <p class="list-temp">max</p>
      <p class="list-deg">
        1 &#176
      </p>

  </li>
  </ul>
</div>

      </div>

        <div class="nav__buttons-list btn-home">
          <a href="./index.html" class="nav__button">TODAY</a>
          <a href="./fiveDays.html" class="nav__button">5 DAYS</a>
        </div>
      </div>
    <div class="section__bottom">
        <div class="section__bottom-left">
 <ul class="date__now">
    <li class="date__now-day"> 8<span class="day-ending">th</span></li> <li class="day-name">Sat</li>
  </ul>
<div class="all-time">
  <ul class="date__month-time"> 
   <li class="month-now"><p>
    Fabruary
  </p></li> 
  <li>
<p class="time-now"> 21:30:56</p>
  </li>
  </ul>            
<ul class="sun-time">
  <li class="sunrise_time"> <img src="./images/sunrise.png" alt="" class="sun_time-img"><span>07:04</span></li>
  <li class="sunset_time"><img src="./images/sunset.png" alt="" class="sun_time-img"><span>17:54</span></li>
</ul>

</div>
        </div>
        <div class="section_quote">
            <p class="quote">Who cares about the clouds when we're together? Just sing a song and bring the sunny weather.</p>
            <p class="quote_author">Dale Evans</p>
        </div>
    </div>
  </div>
</section>
