<section class="hero section" 
style="background-image: url(https://s3-alpha-sig.figma.com/img/397a/10c5/57dc983b88e6ebf2b06aca7809b0e87d?Expires=1678060800&Signature=W5GUXaCdvO8kI9zKrDslrOraPlz5BkIAq7hHQ~ovkFe9GUD75gouXUGamTgGTVwcUNn4jRwuyZYolK7vumvQ0cCsB-g4k7ykgUs8DyuKnqSUPidUxK3gR-q52brSpjsgEkHvSYAjceh2aLSaixIxzvznbFghQh60RPhgzNaqvyTGvZ5Kfxypwn8Ort8oTpDoFd2-GCG2WlkXq1MStw1uTdgrXE4yUVWQiHxdcpHwgvrU~RdBw5FCQB2-qRgPWkCoj2xjZUOGXAvP9JPQKczmb6HAL-vMoo3uBg1k0y2GfWf9R0KXLMF2Ag4EaXnIPaqHKTWikhl~xpYwcgKo8e~Uwg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
background-repeat: no-repeat;
background-position: center;
background-size: cover;">
  <div class="hero__section container">
    <div class="weather-form">
        <form class="search-form">
          <input class="search-input" type="text" placeholder="Enter the city" name="query" />

          <button class="favorite-btn " type="button">
          
          </button>
        </form>
        <div class="favorit__city">
    
           <button class="button favorit__city-btn">Kiyv <span class="delete-city"><img src="./images/remove.png" alt=""></span></button>
           <button class="button favorit__city-btn">Kiyv <span class="delete-city"><img src="./images/remove.png" alt=""></span></button>
           <button class="button favorit__city-btn">Kiyv <span class="delete-city"><img src="./images/remove.png" alt=""></span></button>
           <button class="button favorit__city-btn">Kiyv <span class="delete-city"><img src="./images/remove.png" alt=""></span></button>
    
            
    
        </div>
      </div>
    <div class="hero__section-weather">
      <div class="weather-contetn">
        <div class="location">
          <img src="./images/loudy.png" alt="" class="weather-img">
          <p class="weather__list-city">Kyiv, Ua</p>
</div>
<div class="tempreture">
<p class="deg-now">-3</p>
  <ul class="weather__list-minormax">
    <li class="weather__list-min">
      <p class="list-temp">min</p>
      <p class="list-deg">
 -2 &#176
      </p>
      </li>
    <li class="weather__list-max">
      <p class="list-temp">max</p>
      <p class="list-deg">
        1 &#176
      </p>

  </li>
  </ul>
</div>

      </div>

        <div class="weather__buttons">
          <button class="button weather__buttons-today">TODAY</button>
          <button class="button weather__buttons-days">5 DAYS</button>
        </div>
      </div>
    <div class="section__bottom">
        <div class="section__bottom-left">
 <div class="date__now">
    <p class="date__now-day"> 8<span class="day-ending">th</span>Sat</p>
    <p class="date__now-month"> Fabruary <span class="time-now"> 21:30:56</span></p>            
            </div>
<div class="sunrise">
    <p class="sunrise_time">07:04</p>
    <p class="sunset_time">17:05</p>
</div>
        </div>
        <div class="section__bottom-right">
            <p class="quote">Who cares about the clouds when we're together? Just sing a song and bring the sunny weather.</p>
            <p class="quote_author">Dale Evans</p>
        </div>
    </div>
  </div>
</section>
