// .five-days-section {
//   padding: 60px 20px 80px;
//   @include tablet {
//     padding: 373px 32px 88px;
//   }
//   @include desktop {
//     padding: 271px 16px 128px;
//   }
// }
.fiveDays__country-name {
  @include desktop {
    display: flex;
  }
}
.fiveDays-btn {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  max-width: 280px;
  @include tablet {
    max-width: 336px;
    margin-bottom: 96px;
  }
  @include desktop {
    max-width: 395px;
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 38px;
  }
}
.fiveDays__weather {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 34px;
  background-color: rgba(16, 33, 54, 0.8);
  padding: 32px 0 48px;
  @include tablet {
    max-width: 704px;
    padding: 40px 0;
  }
  @include desktop {
    max-width: 1248px;
    padding: 40px 0;
  }
}
.fiveDays__weather-list {
  // max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  display: flex;
  position: relative;
  left: 0;
  transition: all ease 1s;

  @include tablet {
    width: 704px;
  }
  @include desktop {
    max-width: 1248px;
    padding: 0 107px;
  }
}
// slider
.slider_line {
  margin: 0 auto;
  padding: 0;
  display: flex;
  max-width: 280px;
  overflow: hidden;
  border: 1px solid blue;
  @include tablet {
    max-width: 598px;
    padding: 0;
  }
  @include desktop {
    max-width: 1248px;
    padding: 0;
  }
}
.fiveDays__weather-item {
  max-width: 62px;
  margin-right: 16px;
  border: 1px solid tomato;

  @include tablet {
    min-width: 62px;
  }
  @include desktop {
    min-width: 181px;
    padding: 0 5px;
  }
}
.fiveDays__country-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;

  @include tablet {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 67px;
    margin-top: -100px;
  }
  @include desktop {
    margin-top: -110px;
    margin-bottom: 77px;
  }
}

.tablet {
  @media screen and (max-width: 767px) {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
}
//
.center-section {
  @include desktop {
    display: flex;
  }
}
.fiveDays__weather-name-day {
  color: rgba(118, 125, 133, 1);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 8px;
  @include tablet {
    font-size: 14px;
    line-height: 17px;
  }
  @include desktop {
    font-size: 18px;
    line-height: 22px;
  }
}
.fiveDays__weather-date {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 4px;
  @include tablet {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 8px;
  }
  @include desktop {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 20px;
  }
}
.fiveDays__weather-img {
  margin-bottom: 4px;
  margin-left: auto;
  margin-right: auto;
  width: 35px;
  height: 35px;
  @include desktop {
    margin-bottom: 30px;
  }
}
.fiveDays__weather__list-minormax {
  display: flex;
  color: rgba(118, 125, 133, 1);
  font-size: 12px;
  line-height: 14px;
  @include tablet {
    font-size: 14px;
    line-height: 16px;
  }
  @include desktop {
    font-size: 18px;
    line-height: 22px;
  }
}
.fiveDays__weather__list-min {
  margin-right: 10px;
  @include tablet {
  }
  @include desktop {
    margin-right: 32px;
  }
}
.fiveDays__list-deg {
  color: rgba(255, 107, 9, 1);
  font-size: 14px;
  line-height: 17px;
  @include tablet {
    font-size: 18px;
    line-height: 22px;
  }
  @include desktop {
    font-size: 25px;
    line-height: 30px;
  }
}
.more-info {
  color: rgba(118, 125, 133, 1);
  background-color: transparent;
  border: transparent;
  text-decoration: underline;
  font-size: 12px;
  line-height: 14px;
  &:hover,
  &:focus {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }
  @include tablet {
    font-size: 14px;
    line-height: 16px;
  }
}
.fiveDays__more-list {
  display: flex;
  padding: 48px 5px 0;
  @include tablet {
    padding: 40px 22px 0;
  }
  @include desktop {
    padding: 33px 45px 0;
  }
}
.fiveDays__more-item {
  max-width: 120px;
  padding: 20px 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  &:hover,
  &:focus {
    background-color: rgba(255, 255, 255, 0.1);
  }
  @include desktop {
    padding: 20px 32px;
    max-width: 152px;
  }
}
.more_time {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  opacity: 0.54;
}
.more-img {
  width: 35px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
}
.more-tempreture {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ff6b09;
  text-align: center;
  @include desktop {
    font-size: 25px;
    line-height: 30px;
  }
}
.more-speed {
  margin-bottom: 4px;
  display: flex;

  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;

  opacity: 0.54;
}
.speed-img {
  margin-right: 10;
  width: 20px;
  height: 20px;
}
.more-humidity {
  margin-bottom: 4px;
  display: flex;

  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;

  opacity: 0.54;
}

.humidity-img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
.more-wind {
  display: flex;

  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;

  opacity: 0.54;
}

.wind-img {
  margin-right: 10px;

  width: 20px;
  height: 20px;
}
